<div *ngIf="cartData.cart.length == 0">
  <span>Empty cart</span>
</div>

<div *ngIf="cartData.cart.length > 0">
  <button (click)="clearCart()" class="btn btn-primary">clear cart</button>
  <div>
    Total : <span>{{bestOffer.calcul}}€</span> <span class="line margin-left">{{totalCart}}€</span>
  </div>

  <div>
    Discount : {{textDiscount}}
  </div>
  
  
  <div class="row align">
    <div *ngFor="let product of cartData.cart, let i = index" [attr.data-index]="i" class="margin">
      <app-book [book]="product" (eventButton) = "removeToCart(i)" nameButton = "remove from cart"></app-book>
    </div>
  </div>

</div>


